body{
    background-image: url(../images/final_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
a{
    color:rgb(55, 92, 81);
}
.anchor{
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: 5px solid black;
    margin: auto;
}
.body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.h3body{
    text-align: left;
}
.bodylist{
    text-align: left;
    font-weight: bold;
}
.bottom {
    text-align: center;
    color: black;
}
video {
    margin-left: 10%;
}
img{
    margin-left: 10%;
}
.btableau{
    text-align: center;
    margin-left: 10%;
}
.h3t{
    text-align: center;
    margin-top: 5%;
}